.thank-you-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
}
.thanks-img{
    width:300px;
}
.home-btn{
    background-color: #165315;
    color:white;
    width:200px;
    height:40px;
    border-radius: 5px;
    margin:20px;
   border:0;
}